.checkbox {
  cursor: pointer;
}

.checkbox__input {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;

  &:disabled + .checkbox__check {
    cursor: not-allowed;
  }
}

.checkbox__check {
  display: block;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 50%;
  transition: all 150ms;
  border: 1px solid grey;

  &.checked {
    border-color: var(--blue);
    background-color: var(--blue);
    background-image: url('../../assets/icons/checked.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
