.addTodo {
  width: 100%;
  padding: 15px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
}

.addTodo__input {
  border: none;
  padding: 0;
  background-color: var(--main-background);
  border-bottom: 1px solid #dadce2;

  &:focus {
    outline: none;
  }
}
