#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;

  --main-background: #f2f4fa;

  --blue: #5592ff;
  --red: #ff6659;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}
ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  outline: none;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}
